

body {
    height: 1000px;
    /*background-color: #F3F1FF;*/
    animation: bg-move 3s ease-in .2s infinite reverse;
    -webkit-animation: bg-move 3s ease-in .2s infinite reverse;
}

@keyframes bg-move {
    from {
        background-image: linear-gradient(#F3F1FF, #9189c2);
        background-repeat: no-repeat;
    }

    to {
        background-image: linear-gradient(#cdc8ec, #7f70e6);
        background-repeat: no-repeat;
    }
}